.dashboard {
    font-family: Arial, sans-serif;
    max-width: 960px;
    margin: 0 auto;
}

.name-section {
    padding: 2rem 0;
}

.chart-section {
    padding: 2rem 0;
    max-width: 25%;
    margin: 0 auto;
}

.content-section {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}

.recent-songs {
    width: 55%;
}
.recent-words {
    width: 40%;
}

.recent-songs h2,
.recent-words h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.song-card {
    background-color: #D3E5FF;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 1rem;
    width: 30%;
    display: inline-block;
    margin-right: 1rem;
    box-sizing: border-box;
    vertical-align: top;
}


.song-card img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.song-card h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.song-card p {
    font-size: 1rem;
    color: #777;
}

.song-card:last-child {
    margin-right: 0;
}

.word-card {
    background-color: #FCDAD9;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 1rem;
    width: 30%;
    display: inline-block;
    margin-right: 1rem;
    box-sizing: border-box;
    vertical-align: top;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

.word-card p {
    font-size: 1.6rem;
    margin: 0;
}

.word-card:last-child {
    margin-right: 0;
  }

.word-card p:last-child {
    font-size: 1rem;
    color: #777;
    margin-top: 0.5rem;
}

.recent-songs a,
.recent-words a {
    text-decoration: none;
    font-size: 0.8rem;
}