nav {
  background-color: #bebcbc;
  color: black;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

nav li {
  margin-right: 30px;
  display: flex;
}

nav ul {
  display: flex;
  margin: 0;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: 700;
  margin-right: 20px;
}

.active {
  text-decoration: underline;
}
